<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-6">
               
                <p class="lead  text-white">We believe finance should not just be a "RUN" the business function anymore that is concerned only with collecting and reporting of financial results. Rather it should also be an enabler for "CHANGE" in the business by providing strategic business insights for management decision making. We have built Finance Period End Management (FPEM) solution with following features and benefits to enable this transformation. Organize your finance processes around a single source of truth enabled by FPEM that contains reconciled/fully attributed customer-product detail and transform Finance from a labor-intensive compilation activity into a value-added function that creates transparent outputs useful for internal and external consumption and extension.</p>
               
              </div>
              <div class="col-lg-6">


                  <img style="height: 500px; width: 600px" src="./assets/img/fpem/fpem1.png" class="img-fluid">

              </div>
            </div>
          </div>
        </div>
       
      </section>
      <!-- 1st Hero Variation -->
    </div>
   
    <section class="section section-lg">
      <div class="container">
          <div class="row row-grid justify-content-center">
          <div class="col-lg-10">
            <h2 class="display-3">Timely</h2>
            <p class="lead">FPEM is built from ground up to provide you with the latest and upto the moment financial information that is in sync with your sources.</p>
          </div>
        </div>
        <div class="row row-grid">
          <div class="col-lg-4">
            <div class="icon icon-lg icon-shape  shadow rounded-circle text-primary">
              <i class="ni ni-settings text-primary"></i>
            </div>
            <h5 class="display-3">Straight through processing</h5>
            <p class="lead">FPEM integrates with product sources in "Straight through processing" framework allowing processing of source system business events in real time, shifting energy invested in finance from “getting the numbers out” to “making the numbers right”.  Straight through processing will automate assembly of numbers so finance work will shift from the low-value mechanics of collecting, assembling and reconciling numbers to scrubbing the numbers for errors/omissions and analyzing/reporting the numbers in ways that illuminate and characterize the multi-dimensional aspects of the business in ways that “point the way forward”.	</p>
          </div>
          <div class="col-lg-4">
            <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
              <i class="ni ni-ruler-pencil text-primary"></i>
            </div>
            <h5 class="display-3">Daily Close</h5>
            <p class="lead">Do you feel like you are under the gun every financial period end to close the books on time? Do you want to take down the time it takes to close your books? We have built FPEM solution from ground up to account for features like - (a) Predict / Forecast missing source system information to fill in the blanks while waiting for source systems to send all the information and (b) Do soft close every day so that you can see you complete trial balance (balance sheet and income statement) as it would/should be like had all the information was available right now.	</p>
          </div>
          <div class="col-lg-4">
            <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
              <i class="ni ni-atom text-primary"></i>
            </div>
            <h5 class="display-3">Benefits</h5>
            <p class="lead">"- Period end is like any other day. 
                - Reduce errors and ommisions through straight through integration and processing of source system data.
                - Correct errors and ommisions by working on these during the whole month as opposed to just period end.
                - Monitor critical items ( e.g. liquidity ratios ) real time for timely decision making."			</p>
          </div>
        </div>
      </div>
     
    </section>

    <section class="section section-lg">
        <div class="container">
            <div class="row row-grid justify-content-center">
            <div class="col-lg-10">
              <h2 class="display-3">Transparent</h2>
              <p class="lead">FPEM is built from ground up to provide not only the flexibility and control of your accounting process but also ability to manage this at lowest grain of business activities driving the business results.		</p>
            </div>
          </div>
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="icon icon-lg icon-shape  shadow rounded-circle text-primary">
                <i class="ni ni-settings text-primary"></i>
              </div>
              <h5 class="display-3">Rules Based Accounting</h5>
              <p class="lead">FPEM comes with a business user friendly "Accounting Rules Engine" that allows business to maintain control of the accounting rules and analyze results in a transparent fashion. You can drive ownership and accountability for maintaing global accounting mandates with local reagional nuances through accounting rules. And business ownership in driving creation, modifications and application of these rules in FPEM environment not only increases compliance transparency but also reduces your dependence on IT and others to effect change.		</p>
            </div>
            <div class="col-lg-4">
              <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                <i class="ni ni-ruler-pencil text-primary"></i>
              </div>
              <h5 class="display-3">Instrument Ledger</h5>
              <p class="lead">Obviously, you do have a choice of many accounting softwares. But not many (in-fact none, at least at high volumes) perform accoutning at the lowest instrument level. We have built FPEM from ground up to perform accounting at instrument level for each business event. That allows us to provide you aggregated ledger views and seamless drill down to lower product, customer and instrument level sub-ledger views in automatic, reconciled and available for all to explore transparent fashion. Imagine this -> you providing a user-id and password to your auditor as opposed to a team of accountants to answer his/her queries. 	</p>
            </div>
            <div class="col-lg-4">
              <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                <i class="ni ni-atom text-primary"></i>
              </div>
              <h5 class="display-3">Benefits</h5>
              <p class="lead">"- Increase control through ownership of accounting rules.
                  - Provide greater flexibility for product owners as well as global and local accountants to cooperate in owning and maintaining accounting rules.
                  - Increase transparency through automatically reconciled ledger and sub-ledgers at instrument levels."					</p>
            </div>
          </div>
        </div>
       
      </section>

      <section class="section section-lg">
          <div class="container">
              <div class="row row-grid justify-content-center">
              <div class="col-lg-10">
                <h2 class="display-3">Cost Effective</h2>
                <p class="lead">FPEM uses modern (digital, big data and cloud) yet open technology options to optimize "Financial Period End" processing according to your needs -		</p>
              </div>
            </div>
            <div class="row row-grid">
              <div class="col-lg-4">
                <div class="icon icon-lg icon-shape  shadow rounded-circle text-primary">
                  <i class="ni ni-settings text-primary"></i>
                </div>
                <h5 class="display-3">Affordable </h5>
                <p class="lead">Cost of any system depends on how much and how fast one wants to achieve results. Therefore we have built FPEM architecture to be elastic that can optimize itself to provide you the most cost effective solution footprint at fractions of what you are spending today. FPEM not only reduces your environment and processing costs but also simplifies your business process so that you can also reduce your total overall operational cost by orienting your work force to look ahead in the future than issue/problem solving of the past.		</p>
              </div>
              <div class="col-lg-4">
                <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                  <i class="ni ni-ruler-pencil text-primary"></i>
                </div>
                <h5 class="display-3">Scalable </h5>
                <p class="lead">You probably have to juggle your (a) Transaction Volumes and (b) SLA needs and requirements, all the time. Wether you are processing 100 K or 10 billion transactions or whether you want to take 6 hours or 6 mins to process your transactions, FPEM architecture has been designed to adjust itself through horizontal / vertical scaling that provides you business results at desired service levels irrespective of data volumes. You can choose ( or configure as per your schedule) desired SLA and avoid long lead times and costs to upgrade capacity of your environment to meet this SLA.	</p>
              </div>
              <div class="col-lg-4">
                <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                  <i class="ni ni-atom text-primary"></i>
                </div>
                <h5 class="display-3">Benefits</h5>
                <p class="lead">"- Reduce your current finance platform cost to a fraction of your current platform costs.
                    - Reduce your operational costs by freeing and directing your workforce to more value added activites through automation of mundane routine work.
                    - Decrease reaction time of your finance processes in case of volume fluctuations and/or changes in result delivery expectations (SLA)."						</p>
              </div>
            </div>
          </div>
         
        </section>

    <section class="section section-lg">
      <div class="container">
        <div class="row row-grid justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="display-3">Do you love this awesome
              <span class="text-success">Finance Period Management Product?</span>
            </h2>
            <p class="lead">Cause if you do, it can be yours in Seconds. Hit the button below for the demo</p>
            <div class="btn-wrapper">
              <a href="https://http://103.97.185.146:8074/fpem" class="btn btn-primary mb-3 mb-sm-0">FPEM Demo</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  