<section class="section pb-0 section-components">
  <div class="container mb-5">

    <h3 class="h4 text-success font-weight-bold mb-4">Responsive</h3>
    <div class="mb-3">
      <h6 class="text-uppercase font-weight-bold">Our products and solutions propogate the impact of your business
        activities across your interconnected business landscape through an architecture that-
      </h6>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6">

        <h3>Event Driven -</h3>
        <p>
          Creates and manages your business processes at lowest grain i.e. "Business Event". Our solutions and products
          are built from ground up to capture business events that manage state of your business through production and
          consumption of business events.</p>



      </div>
      <div class="col-lg-4 col-sm-6">

        <h3>Real Time -</h3>
        <p>Consumes and propogates business events to all impacted business processes in real time. Our solutions and
          products break down barriers of information assymetry across your fragmented legacy business architecture by
          publishing and subscribing to business events in real time.</p>

      </div>
      <div class="col-lg-4 col-sm-6">
        <h3>Business Rules -</h3>
        <p>Uses business rules as fundamental decision making building block. Using business rules, our products and
          solutions promote timeliness and remove dependence on your technology counterparts whether you need to create
          new business processes to capture emerging business opportunity or to change existing processes to optimize
          business outcomes. </p>

      </div>
    </div>
  </div>
  <div class="py-5" id="infosection">
    <div class="container mb-5">

      <h3 class="h4 text-primary font-weight-bold mb-4">Informative</h3>
      <div class="mb-3">
        <h6 class="text-uppercase font-weight-bold">Our products and solutions use "model driven architecture" for
          modelling and capturing your domain specific business events and processes -
        </h6>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6">

          <h3>Granula -</h3>
          <p>At lowest grain possible i.e. at business event level. This allows our products and solutions to not only
            provide you the transparency but also better audit and control your business processes through accurate and
            detailed data provenance. </p>



        </div>
        <div class="col-lg-4 col-sm-6">

          <h3>Operational Intelligence -</h3>
          <p>That get stored in optimized data structures and stores for fast, reliable and "OLTP" access for
            operational purposes. This allows our products and solutions to provide you exceptional oprational
            intelligence capabilities that enable you to not only understand your operations but also analyze underlying
            reasons for your operational performance. </p>

        </div>
        <div class="col-lg-4 col-sm-6">
          <h3>Analytical Insights -</h3>
          <p>That can be not only get aggreated and/or combined to create new derived metrics but also stored as history
            for long time in analytical data structures and stores. This allows our product and solutions to provide you
            descriptive, pedictive and prescriptive insights for decision making to optimize your business.</p>


        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
  <div class="container mb-5">

    <h3 class="h4 text-success font-weight-bold mb-4">Optimized</h3>
    <div class="mb-3">
      <h6 class="text-uppercase font-weight-bold">Our products and solutions use modern (digital, big data and cloud)
        yet open technology options to optimize delivery of business services that is - </h6>
    </div>
    <div class="row">

      <div class="col-lg-4 col-sm-6">

        <h3>Afforable -</h3>
        <p>Our products and solutions avoid expensive enterprise class infrastructure choices in favour of commodity
          options to dramatically reduce hardware/software costs to remain affordable at fraction of cost compared to
          legacy solutions. </p>

      </div>
      <div class="col-lg-4 col-sm-6">
        <h3>Scalable -</h3>
        <p>Whether your business handles few hundred business events or few billions, our products and solutions are
          build with horizontal and vertical scalability in mind. This allows our products and solutions to provide you
          with your business results at desired service levels irrespective of data volumes. </p>


      </div>
      <div class="col-lg-4 col-sm-6">

        <h3>Secure -</h3>
        <p>Whether your business processes are targeted to be used by select few or rolled out to millions of consumers,
          our products and services are built with appropriate security including authentication, authorization as well
          as parallel delivery model to ensure robust and controlled end user experience.</p>

      </div>
    </div>
  </div>
</div>
</section>