<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-6">
                <h1 class="display-3  text-white">Highly optimized, responsive, configurable products
                  <span>created using best open source technologies</span>
                </h1>
                <p class="lead  text-white">The products are built using our core components and ideas which are 100% configurable according to customer needs.</p>
                <!-- <div class="btn-wrapper">
                  <a href="https://demos.creative-tim.com/argon-design-system-angular/documentation/alerts?ref=adsa-landing-page" class="btn btn-info btn-icon mb-3 mb-sm-0">
                    <span class="btn-inner--icon"><i class="fa fa-code"></i></span>
                    <span class="btn-inner--text">Components</span>
                  </a>
                  <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-landing-page" class="btn btn-white btn-icon mb-3 mb-sm-0">
                    <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                    <span class="btn-inner--text">Download Angular</span>
                  </a>
                </div> -->
              </div>
              <div class="col-lg-6">
                  <img src="../../assets/img/fpem/fpem3.png" class="img-fluid">

              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                      <i class="ni ni-check-bold"></i>
                    </div>
                    <h6 class="text-primary text-uppercase">Metadata Management</h6>
                    <p class="description mt-3">A web-interface with rest api which is highly configurable.</p>
                    <!-- <div>
                      <span class="badge badge-pill badge-primary">angular</span>
                      <span class="badge badge-pill badge-primary">ng-bootstrap</span>
                      <span class="badge badge-pill badge-primary">creative</span>
                    </div> -->
                    <a [routerLink]="['/productinfo']" routerLinkActive="router-link-active"  class="btn btn-primary mt-4">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                  <div class="card card-lift--hover shadow border-0">
                    <div class="card-body py-5">
                      <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                        <i class="ni ni-check-bold"></i>
                      </div>
                      <h6 class="text-primary text-uppercase">Reference Data Management</h6>
                      <p class="description mt-3">A web-interface with rest api which is highly configurable.</p>
                      <!-- <div>
                        <span class="badge badge-pill badge-primary">angular</span>
                        <span class="badge badge-pill badge-primary">ng-bootstrap</span>
                        <span class="badge badge-pill badge-primary">creative</span>
                      </div> -->
                      <a [routerLink]="['/productinfo']" routerLinkActive="router-link-active"  class="btn btn-primary mt-4">Learn more</a>
                    </div>
                  </div>
                </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                      <i class="ni ni-istanbul"></i>
                    </div>
                    <h6 class="text-success text-uppercase">Metric Engine</h6>
                    <p class="description mt-3">All in one for all metric calculation for your business.</p>
                    <!-- <div>
                      <span class="badge badge-pill badge-success">business</span>
                      <span class="badge badge-pill badge-success">vision</span>
                      <span class="badge badge-pill badge-success">success</span>
                    </div> -->
                    <a [routerLink]="['/productinfo']" routerLinkActive="router-link-active"  class="btn btn-primary mt-4">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                      <i class="ni ni-planet"></i>
                    </div>
                    <h6 class="text-warning text-uppercase">Rules Engine</h6>
                    <p class="description mt-3">Rule based processing of any business event at scale.</p>
                    <!-- <div>
                      <span class="badge badge-pill badge-warning">marketing</span>
                      <span class="badge badge-pill badge-warning">product</span>
                      <span class="badge badge-pill badge-warning">launch</span>
                    </div> -->
                    <a [routerLink]="['/productinfo']" routerLinkActive="router-link-active"  class="btn btn-primary mt-4">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    </main>