 #carouselId{
     width: 1000px;
     height: 470px;
  
 }
.carousel-inner img{
    width: 710px;
	height: 470px;
 }
 .carousel-caption p{
	font-family: sans-serif;
	font-size: 30px;
	margin-bottom: 100px;
}
#head{
    margin-bottom: 65px;
}
#carousel h3{
    font-family: sans-serif;
	font-size: 35px;
}
// .carousel-inner{
// 	background-color: grey;
// }